<link rel="stylesheet" href="/CSS/_header.css">
<div class="header-container">
    <div class="logo">
        <%- include('_logo') %>
    </div>
    <ul class="menu-list">
        <li><a href="">Sign In</a></li>
        <li><a href="">Sign Up</a></li>
    </ul>
</div>