<link rel="stylesheet" href="/CSS/_header.css">
<div class="header-container">
    <div class="logo">
        <a href="/">
            <%- include('_logo') %>
        </a>
    </div>
    <ul class="menu-list">
        <% if(locals.user){ %>
            <li><a href="/user/profile/<%= user.id %>"><%= user.firstName %></a></li>
            <li><a href="/user/sign-out">SignOut</a></li>
        <% } else { %>
            <li><a href="/sign-in">Sign In</a></li>
        <li><a href="/sign-up">Sign Up</a></li>
        <% } %>
    </ul>
</div>