<link rel="stylesheet" href="/CSS/_logo.css">
<button data-text="Awesome" class="button">
    <span class="actual-text">&nbsp; HIveMind&nbsp;</span>
    <span class="hover-text" aria-hidden="true">&nbsp; HIveMind&nbsp;</span>
</button>