<link rel="stylesheet" href="/CSS/dashboard.css" />

<div class="container m-0" id="feed-post">
     <form action="/post/create" id="new-post-form" method="post" style="margin-bottom: 60px">
          <h5>Query</h5>
          <div class="form-floating">
               <textarea
               id="form-text-area"
                    class="form-control"
                    placeholder="Leave a comment here"
                    style="resize: none; border: 3px solid black; height: 100px; width: 100%"
                    name="content"
                    required
               ></textarea>
               <label for="floatingTextarea">What's on your mind?</label>
          </div>
          <button type="submit" class="mt-2 btn btn-dark" style="float: left; width: 200px">Post</button>
     </form>

     <% for(post of posts){ %>
          <div id="post-list-container">
               <%- include('post-card') %>
          </div>
     <% } %>
</div>

<div class="container">
     <%- include('_friendsList') %>
</div>


<script src="/JS/home_post.js"></script>