<link rel="stylesheet" href="/CSS/dashboard.css" />

<div class="container m-0" id="feed-post">
     <form action="/post/create" id="new-post-form" method="post" style="margin-bottom: 60px">
          <h5>Query</h5>
          <div class="form-floating">
               <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    style="resize: none; border: 3px solid black; height: 100px; width: 100%"
                    name="content"
                    required
               ></textarea>
               <label for="floatingTextarea">What's on your mind?</label>
          </div>
          <button type="submit" class="mt-2 btn btn-dark" style="float: left; width: 200px">Post</button>
     </form>

     <% for(post of posts){ %>
     <div class="container mx-0 px-0 my-4" width="50%" style="border: 2px solid black; border-radius: 10px">
          <%- include('post-card') %>
     </div>
     <% } %>
</div>

<div class="friend-list container">
     <%- include('_friendsList') %>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.0/socket.io.js" integrity="sha512-+sXUwEYakGznuXubXLO/7LWSAPcm+U3NxMJaSu3S5OcvruAAAzaC50Uh4TW9KWj0hA6vfPAjB7E1uuIXgn9vmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/JS/chatEngine.js"></script>
<% if(locals.user){ %>
     <script>
          new chatEngine('user-chat-box','<%= locals.user._id %>')
     </script>
<% } %>