<link rel="stylesheet" href="/CSS/dashboard.css" />

<div class="container m-0">
     <form action="" >
          <h5>Query</h5>
          <div class="form-floating">
               <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="floatingTextarea"
                    style="resize: none; border: 3px solid black; height: 90px; width: 70%;"
               ></textarea>
               <label for="floatingTextarea">Post Your Query Here...</label>
          </div>
          <button type="submit" class=" mt-2 btn btn-dark" >Post</button>
     </form>
</div>

<div class="container">
     <ul class=" list-group" style="width: 50%; float: right;">
          <h5>Friends</h5>
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
     </ul>
</div>
