<link rel="stylesheet" href="/CSS/signUp.css" />
<form class="form" method="post" action="/user/create-user">
     <p class="title">Sign Up</p>
     <p class="message">Signup now and get full access to our app.</p>
     <div class="flex">
          <label>
               <input name="firstName" required="" placeholder="" type="text" class="Firstname input"/>
               <span>Firstname</span>
          </label>

          <label>
               <input name="lastName" required="" placeholder="" type="text" class="Lastname input" />
               <span>Lastname</span>
          </label>
     </div>

     <label>
          <input name="email" required="" placeholder="" type="email" class="input" />
          <span>Email</span>
     </label>

     <label>
          <input name="password" required="" placeholder="" type="password" class="input" />
          <span>Password</span>
     </label>
     <label>
          <input name="confirm_password" required="" placeholder="" type="password" class="input" />
          <span>Confirm password</span>
     </label>
     <label>
          <input name="phone" required="" placeholder="" type="text" class="input" />
          <span>Phone</span>
     </label>
     <label>
          <input name="address" required="" placeholder="" type="text" class="input" />
          <span>Address</span>
     </label>
     <label>
          <input name="github" required="" placeholder="" type="text" class="input" />
          <span>Github</span>
     </label>
     <label>
          <input name="linkedIn" required="" placeholder="" type="text" class="input" />
          <span>LinkedIn</span>
     </label>
     <label>
          <input name="company" required="" placeholder="" type="text" class="input" />
          <span>Company</span>
     </label>
     <label>
          <input name="skills" required="" placeholder="" type="text" class="input" />
          <span>Skills</span>
     </label>
     <label>
          <input name="jobProfile" required="" placeholder="" type="text" class="input" />
          <span>Job Profile</span>
     </label>

     <button class="submit">Submit</button>
     <p class="signin">Already have an acount ? <a href="/sign-in">Signin</a></p>
</form>
