.header-container{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 5px solid #37FF8B;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 10;
}
.logo{
    padding: 10px;
}
.menu-list{
    display: flex;
    margin: 10px;
    list-style: none;
    
}

.menu-list li a{
    text-decoration: none;
    padding: 10px;
    color: white;
}